.container {
  overflow: hidden;
  >.text {
    font-size: 40rpx;
    padding: 100rpx 0;
    text-align: center;
    color: rgb(49, 49, 49);
    font-weight: 500;
  }
  .picker {
    color: #737373;
  }
  .pickerActive {
    color: #1d1d1d;
  }
  .rule {
    display: flex;
    margin: 0 40rpx;
    flex-wrap: wrap;
    justify-content: center;
    .segmentation {
      width: 90%;
      color: #cfcece;
      position: relative;
      height: 60rpx;
      margin: 60rpx 0;
      text-align: center;
      line-height: 60rpx;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 36%;
        background: #cfcece;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 36%;
        background: #cfcece;
      }
    }
    .item {
      &.job_seeker {
        background: linear-gradient(to right, #ff9c3d, #ffc934);
        box-shadow: 0 10rpx 50rpx #ff9c3d;
      }
      &.recruiter {
        background: linear-gradient(to right, #0469f7, #36b3f0);
        box-shadow: 0 10rpx 50rpx #36b3f0;
      }
      position: relative;
      height: 240rpx;
      width: 100%;
      border-radius: 20rpx;
      overflow: hidden;
      .rule_text {
        line-height: 240rpx;
        font-size: 40rpx;
        color: #fff;
        margin-left: 60rpx;
      }
      .imgBox {
        position: absolute;
        width: 180rpx;
        height: 180rpx;
        top: 50%;
        right: 60rpx;
        transform: translateY(-50%);
        border-radius: 50%;
        overflow: hidden;
        image {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
  .jobSeeker, .recruiters {
    position: absolute;
    left: 0;
    width: 100%;
    background: #fff;
    // border-radius: 40rpx 40rpx 0 0;
    // box-shadow: 0 0 40rpx rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    padding: 0 30rpx;
    box-sizing: border-box;
    z-index: 1000;
    overflow: hidden;
    display: block;
    .top {
      height: 80rpx;
      line-height: 80rpx;
      font-size: 28rpx;
      position: relative;
      .close {
        position: absolute;
        left: 0;
      }
      .text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .next {
        color: #49bcc0;
        position: absolute;
        right: 0;
        transition: 0.4s;
      }
    }
    .slide {
      height: 100%;
    }
    .edit {
      .title {
        font-size: 36rpx;
        padding: 30rpx 0;
      }
      .head_portrait {
        width: 100%;
        margin-top: 10rpx;
        margin-bottom: 30rpx;
        .head {
          width: 120rpx;
          margin: 0 auto;
          border-radius: 16rpx;
          overflow: hidden;
          height: 120rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          image {
            width: 100%;
            border-radius: 16rpx;
          }
        }
        .text {
          width: 100%;
          text-align: center;
          font-size: 26rpx;
          margin-top: 20rpx;
        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        padding: 30rpx 0;
        .head_portrait {
          width: 120rpx;
        }
        .left {
          .name {
            font-size: 42rpx;
            margin-bottom: 4rpx;
          }
          .school {
            font-size: 24rpx;
            color: #838383;
            margin-bottom: 24rpx;
          }
          .other, .profession {
            font-size: 24rpx;
            color: #838383;
          }
          .profession {
            font-size: 28rpx;
            margin-top: 30rpx;
          }
        }
      }
      .list {
        margin-bottom: 50rpx;
        &:last-of-type {
          margin-bottom: 0;
        }
        .item {
          padding: 20rpx 0;
          .little_title {
            font-size: 22rpx;
            color: #2b2b2b;
          }
          .text {
            font-size: 32rpx;
            font-weight: 500;
            position: relative;
            textarea {
              margin-top: 20rpx;
              border: 1px solid #eee;
              box-sizing: border-box;
              width: 100%;
              border-radius: 20rpx;
              padding: 10rpx;
              height: 260rpx;
            }
            .keyword {
              position: absolute;
              z-index: 1000;
              width: 100%;
              transition: 0.5s;
              max-height: 170px;
              background: #f3f3f3;
              overflow-y: scroll;
              .word {
                height: 80rpx;
                line-height: 80rpx;
                box-sizing: border-box;
                border-bottom: 1px solid #dbdada;
                margin: 0 30rpx;
                &:last-of-type {
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}